.aboutUs__container {
  max-width: 100%;
  margin: 0 auto;
}
.aboutUs__wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutUs__wrapper .aboutUs_title {
  text-transform: uppercase;
  margin: 1.2rem 0;
}

.aboutUs_sebtitle {
  font-size: 18px;
  font-weight: 300;
  color: #868e96;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  .desc__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutUs_sebtitle {
    text-align: center;
  }
}
