.desc__container {
  max-width: 100%;
  margin: 0 auto;
}
.desc__wrapper {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.desc_discribe_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
  margin: 22px;
  background-color: #fafafa;
}

.desc_discribe_section h2 {
  font-size: 2rem;
  padding: 20px 0px;
  text-transform: uppercase;
}
.desc_discribe_section p {
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 30px;
  line-height: 2;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  .desc__wrapper {
    display: flex;
    flex-direction: column;
  }
}
