:root {
  --primary: #fafafa;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn__outline {
  background-color: transparent;
  color: #fafafa;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn__outline:hover {
  color: #242424;
  background-color: #fafafa;
}

.btn__medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn__large {
  padding: 12px 26px;
  font-size: 20px;
}
.btn__medium:hover,
.btn__larger:hover {
  background: #fafafa;
  color: 242424;
  transition: all 0.3s ease-out;
}
